    h1 {
         color: rgb(255, 139, 139);
       }
       body{

         background-color: rgb(185, 6, 0);
       }

     h3{
         color: rgb(224, 7, 231);
     }
     p{
         color: rgb(78, 250, 4);
     }
     li{
       color: rgb(255, 238, 164);
     }
     i{
       color: rgb(78, 245, 0);
     }
    
     